@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Climate+Crisis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.cdnfonts.com/css/sakkal-majalla');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* font-family: 'Droid Arabic Kufi', serif; */
    font-family: 'Cairo', sans-serif;
}
body {
    position: relative;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    gap: 0em;
}
.list-item a .bi-whatsapp {
    color: #00b100;
}
.bi-instagram {
    color: #e3569a;
}
.bi-whatsapp {
    color: #ffffff;
}
.con-btn {
    position: sticky;
    z-index: 55;
    top: 80%;
    margin-right: 80%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    width: 11%;
    height: auto;
}
.con-btn .btn-sticky {
    display: flex;
    justify-content: center;
    font-size: 4em;
    width: 98%;
    height: auto;
    background-color: #25CF43;
    text-decoration: none;
    border-radius: 25px;
    transition: .2s ease;
    border: 1px solid #fff;
}
.con-btn .btn-sticky i {
    padding: 0;
}
.con-btn .btn-sticky:hover {
    border: 1px solid #000;
    color: #fff;
    transform: scale(1.01);
    opacity: 90%;
}
.call-us {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.call-us .brand {
    width: 200px;
    height: 200px;
    margin: 5%;
    margin-top: 0%;
}
.call-us .support {
    margin: 5%;
    margin-top: 0%;
    transition: 2ms ease;
}
.call-us .support:hover{
    transform: scale(1.05);
}
/* .call-us .call-support .support {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.call-us .call-support .support .call-text {
    margin: 0%;
    padding: 0%;
}
.call-us .call-support .support .call-num {
    font-size: 60px;
    color: #fa1717;
    font-weight: bolder;
    margin: 0%;
    padding: 0%;
}
.call-us .call-support .call-icon .bi {
    font-size: xx-large;
} */

.services {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin: 0%;
    padding: 0%;
    gap: 0%;
}
.services .service {
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.img-fluid {
    margin: 0%;
    padding: 0%;
    width: 100%;
    position: relative;
}
.service .service-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    text-align: right;
    font-size: large;
    color: #000;
    background-color: #e7e5e449;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    padding-top: 8%;
    padding-right: 5%;
}
.service .service-text :where(.service-title, .caption){
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: #131313;
    padding: 1%;
    font-weight: 800;
    text-shadow: #FC0 1px 0 10px;
}
.about-us {
    text-align: right;
    padding: 3%;
}
.about-us-text h2 {
    font-size: 3.9em;
}
.about-us-text p {
    font-size: 1.1em;
}
.about-us-text {
    height: 80%;
    color: #131313;
    font-weight: 800;
    text-shadow: #131313 4px 0 10px;
}
.about-us .h1{
    align-items: center;
    text-align: center;
    padding: 5%;
}
.accordion-item {
    text-align: right;
}
.contact-us{
    position: relative;
    display: flex;
    min-height: 100vh;
}
.contact-us iframe{
    width: 100%;
    height: 100vh;
}
.contact-us .contact-us-inf{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: nowrap;
    right: 5%;
    width: 50%;
    height: 100%;
    text-align: right;
    background-color: #002044;
    opacity: 85%;
    overflow-y: scroll;
}
.contact-us .contact-us-inf h4{
    padding: 13% 10% 0% 7%;
    color: #fff;
    font-size: 1.6em;
    font-weight: 250;
}
.contact-us .contact-us-inf h1{
    margin: 2%;
    padding: 8%;
    padding-top: 2%;
    font-size: 2.8em;
    color: #fff;
    font-weight: 500;
}
.contact-us .contact-us-inf .contact-us-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    padding-right: 10%;
    text-align: right;
}
.contact-us .contact-us-inf .contact-us-list .contact-us-item {
    padding-bottom: 1%;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    text-align: end;
}
.contact-us .contact-us-inf .contact-us-list .contact-us-item p {
    font-size: 1.2em;
}
.contact-us .contact-us-inf .contact-us-list .contact-us-item i {
    color: #ffdb3e;
    font-size: large;
}


footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 60vh;
    background-color: #002044;
    padding: 5%;
    text-align: right;
    color: #ffdb3e;
    box-sizing: border-box;
}
footer .row .col .row {
    text-align: right !important;
}
footer .row .col .flex-row {
    text-align: right !important;
}
footer .foot-our-work ul{
    text-align: center;
}
footer .foot-our-work ul li{
    list-style: none;
    display: inline-block;
    padding: .5% 1.5%;
}
footer .foot-our-work ul li {
    text-align: center;
    align-items: center;
    color: #fd3;
    font-size: 1.3em;
}



@media(max-width: 655px) {
    * {
        font-size: small;
    }
    body {
        overflow: scroll;
        box-sizing: border-box;
    }
    .con-btn {
        display: flex;
        justify-content: center;
        top: 80%;
        bottom: 0;
        margin-right: 80%;
        margin-left: 4%;
        width: 25%;
        height: 80px;
    }
    .con-btn .btn-sticky {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 100%;
    }
    .con-btn .btn-sticky i {
        font-size: 0.9em;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0%;
        padding: 0%;
        gap: 0em;
    }
    .call-us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10%;
    }
    .call-us .call-support {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1em;
    }
    .services {
        height: 50vh;
    }
    .services .service {
        height: 40vh;
    }
    .service .service-text :where(.service-title, .caption){
        font-size: medium;
    }
    .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .contact-us {
        position: relative;
    }
    .contact-us .contact-us-inf {
        position: absolute;
        font-size: smaller;
        right: 0%;
        top: 0%;
        height: 80%;
        width: 60%;
    }
    .contact-us .contact-us-inf .contact-us-list {
        font-size: 0.8em;
    }
    .contact-us .contact-us-inf .contact-us-list .contact-us-item i {
        font-size: small;
    }
}

@media(max-width: 240px){
    body {
        overflow: scroll;
        box-sizing: border-box;
    }
    .call-us .brand {
        width: 50px;
        height: 50px;
    }
    .con-btn {
        display: flex;
        justify-content: center;
        top: 80%;
        bottom: 0;
        margin-right: 80%;
        margin-left: 4%;
        width: 25%;
        height: 80px;
    }
    .con-btn .btn-sticky {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 100%;
    }
    .con-btn .btn-sticky i {
        font-size: 0.7em;
    }
}